.layout__main-home{
        position: sticky;
        justify-content: space-between;
        margin: 0;
        padding:0;
        width: 100%;
}

.layout__main-home h2:hover{
    cursor: pointer;
}

.layout__main-home h2{
    font-size: 20px;
    font-weight: 700;
}

.layout__main-home .material-icons{
    color: black;
    margin-top: 20px;;
    margin-right: 750px;;
}

.layout__main-home span:hover{
    cursor: pointer;
}