.layout{
    display: grid;
    
    grid-template-columns: 200px auto 400px;
    margin: 0 auto;
    max-width: 1150px;
    overflow-x: hidden;
}


.layout__main{
    margin-left: 0px;
}

.layout__right-sidebar{
    width: 280px;
    padding-right: 90px;;
}

.layout__left-sidebar{
    padding-left: 40px;;
}