@media (min-width: 750px) {
  .navbar {
    display: none;
  }
}
@media (max-width: 750px) {
  body {
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  .layout {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    max-width: 100%;
    min-width: 350px;
  }
  .layout__left-sidebar {
    display: none;
  }
  .layout__right-sidebar-container {
    display: none;
  }
  .layout__main-home h2 {
    display: none;
  }
  .layout__main-home {
      display: flex;
      flex-direction: column;
    width: 100vw;
    min-width: 350px;
    padding: 0;
    margin: 0;
  }

  /* NAVBAR STYLING */

  .navbar-logo{
    height: 75px;
    width: 75px;
    color: #1da0f2;
    filter: invert(57%) sepia(97%) saturate(3412%) hue-rotate(179deg) brightness(102%) contrast(90%);
  }
  .navbar {
    display: block;
    position: sticky;
    /* overflow-wrap: break-word; */
    /* white-space: normal; */
    background-color: #e6ecf0;
    width:100vw;
    min-width: 350px;
  }
  .navbar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar-item {
    margin-top: 1.2em;
  }
  .navbar-item-icon {
    width: 40px;
    height: 30px;
    /* margin-right: 20px; */
  }
  .navbar-item--active {
    color: #1da0f2;
  }
  .navbar-item--active .navbar-item-icon{
    filter: invert(57%) sepia(97%) saturate(3412%) hue-rotate(179deg) brightness(102%) contrast(90%);
  }

  /* END OF NAVBAR STYLING */
}
